<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ApiURL" value="http://localhost:55879/api/message"/>
    <add key="ConsumerType" value="Console"/>
  </appSettings>
</configuration>